<h1>Add User</h1>

<div>
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label class="form-label" for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label class="form-label" for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label class="form-label" for="inputBirthdate">Birthdate</label>
                        <input type="date" class="form-control" id="inputBirthdate">
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label class="form-label" for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary save-button">Save <i
                                class="fa fa-check"></i></button>
                        <a type="submit" class="btn btn-light cancel-button" href="users-list">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>